#resourceTypes>ul>li>span {
    padding-left: 20px;
}

.custom-menu ul li a:hover {
    border-left: 4px solid #c2c2c2;
    box-sizing: border-box;
    text-decoration: none;
    background: #eaeaea;
}

.custom-menu ul li a.active {
    background: #d9d9d9 none repeat scroll 0 0;
    border-left: 4px solid #039be5;
    outline: medium none;
}

.marr10 {
    margin-right: 10px !important;
}

.marr15 {
    margin-right: 15px !important;
}

.break {
    border-top: 1px solid #ddd;
    width: 80%;
    margin: 15px auto 15px 10% !important;
}

.custom-menu ul {
    overflow-y: auto !important;
    scrollbar-width: none;
}

.overflow {
    overflow-y: auto !important;
    scrollbar-width: none;
}

.form_scroll {
    margin-top: 30px;
    max-height: 65vh;
}

.hiding {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;

}